<ion-view title="Firebase Login">
<ion-content>
    <link href="css/style.css" rel="stylesheet">
    <div>
        <div class="list list-inset">
            <label class="item item-input">
                <input ng-model="username" type="text" placeholder="Username"/><br>
           </label>
        
                <label class="itemitem-input">
                
                <input ng-model="password" type="password" placeholder="Password"/><br>
                    
                </label>
         </div>
        <div class="padding-left padding-right">
            <div class="button-bar">
                <a class="button" ng-click="Login(username,password)">Login</a>    <br>
                
                
                <a class="button" ng-click="register(username,pasword)">Register</a>  <br>
            </div>
        
        
        </div>
            
    
    
    
    </div>
    
    
    </ion-content>


</ion-view>